@charset "UTF-8";
@import (reference) "~css/theme";

html
{
    height: 100%;
    width: 100%;
}

body
{
    height: 100%;
    width: 100%;
    background-color: @main-dark-background;
    font-family: "consolas","arial";
    color: @text-main;
    margin: 0;
}

p
{
    margin: 0;
    font-size: @main-text-size;
}

a
{
    font-size: @main-text-size;
    color: @text-highlight;
    padding: 0 5px;
}

.main
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .watching
    {
        color: @text-darker-highlight;
    }

    .watch-zone
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    footer
    {
        height: 20px;
        padding: 3px;
    }
}
