@import (reference) "~css/colours.less";

@main-dark-background: @brown-background2;
@text-main: white;
@text-highlight: @highlight-red;
@text-darker-highlight: @highlight-dark-red;
// faded highlight
@text-fade-highlight: @faded-highlight-yellow;

@fade-text: 40%;
@active-fade-text: 80%;
@highlight-fade: 60%;
@active-highlight-fade: 100%;

@main-text-size: 14px;