@import (reference) "~css/theme";

.watch-status
{
    p
    {
        margin-bottom: 6px;
    }

    .title
    {
        color: @text-highlight;
        margin-bottom: 12px;
    }

    .highlighted
    {
        color: @text-highlight;
    }

    .categories
    {
        cursor: default;

        .category
        {
            &.unselected
            {
                opacity: @fade-text;

                &:hover
                {
                    opacity: @active-fade-text;
                    cursor: pointer;

                    .selection-arrow
                    {
                        opacity: @active-fade-text;
                    }
                }

                .selection-arrow
                {
                    opacity: 0;
                }
            }

            &.selected
            {
                font-style: italic;
            }

            .selection-arrow
            {
                color: @text-highlight;
            }
        }

        .add-category
        {
            color: @text-fade-highlight;
            opacity: @highlight-fade;
            cursor: pointer;

            &:hover
            {
                opacity: @active-highlight-fade;
            }
        }
    }
}